/**** Google Font **********/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
/**** Global Variables **********/
body {
  font-family: "DM Sans", sans-serif;
  font-size: 1em;
  color: #061123;
  font-weight: 500;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #061123;
}
a::hover {
  color: #43c3d1;
}

.primary-text {
  color: #43c3d1;
}

.secondary-text {
  color: #0284ff;
}

ul {
  padding-left: 0;
}
ul li {
  list-style: none;
}

.container {
  max-width: 1440px;
}

.btn.btn-size {
  background-color: rgba(6, 17, 35, 0.03);
  border-color: rgba(6, 17, 35, 0.05);
  padding: 7px 15px;
}
.btn.btn-size.active {
  border-color: rgba(6, 17, 35, 0.2);
}
.btn.btn-size:hover {
  border-color: rgba(6, 17, 35, 0.2);
  color: #061123;
}
.btn.btn-primary {
  background-color: #43c3d1;
  border-color: #43c3d1;
  padding: 7px 25px;
}
.btn.btn-primary:hover {
  background-color: #061123;
  border-color: #061123;
  color: #fff;
}
.btn.btn-secondary {
  background-color: #061123;
  border-color: #061123;
  color: #fff;
  padding: 7px 25px;
}
.btn.btn-secondary:hover {
  background-color: #43c3d1;
  border-color: #43c3d1;
  color: #fff;
}

header .navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 15px;
  font-size: 1.2em;
  color: #061123;
  font-weight: 500;
  font-size: 1em;
}
header .navbar-expand-lg .navbar-nav .nav-link:hover {
  transition: all 0.2s ease-in-out;
  color: #43c3d1;
}

footer {
  background-color: #2f4858;
  color: #fff;
}
footer h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
footer ul li {
  list-style: none;
  margin-bottom: 10px;
}
footer ul li a {
  color: #fff;
  font-size: 1em;
}
footer ul li a:hover {
  transition: all 0.2s ease-in-out;
  color: #43c3d1;
}
footer .spotlight {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.section-1 .swiper .swiper-wrapper .swiper-slide {
  height: 550px;
}
.section-1 .swiper .swiper-wrapper .swiper-slide .content {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.product .card-img {
  overflow: hidden;
  border-radius: 10px;
}
.product .card-img img {
  border-radius: 10px;
  height: 400px;
  transition: all 0.3s ease-out;
}
.product:hover img {
  scale: 1.2;
}
.product .card-body {
  padding: 0;
}
.product .card-body a {
  font-size: 1.2em;
}
.product .card-body a:hover {
  color: #43c3d1;
  transition: all 0.3s ease-out;
}
.product .card-body .price {
  font-size: 1.2em;
  padding-bottom: 20px;
}
.product .card-body .price del {
  color: rgba(6, 17, 35, 0.5);
}

.product-detail .mySwiper .swiper-slide {
  height: auto !important;
}
.product-detail .price {
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 15px;
}
.product-detail .price del {
  color: rgba(6, 17, 35, 0.5);
}

.login-form {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}

@media (min-width: 200px) and (max-width: 768px) {
  .section-1 .swiper .swiper-wrapper .swiper-slide {
    height: 400px;
  }
}/*# sourceMappingURL=style.css.map */